.page {
	font-family: "Montserrat", sans-serif;
	background-color: rgb(29, 29, 29);
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 5px;
	color: rgb(243, 254, 255);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	margin-top: 100px;
}

.main__title {
	font-size: 60px;
	color: rgb(146, 240, 226);
}

.form {
	font-size: 30px;
}

.form__input {
	background-color: white;
	border: none;
	border-radius: 8px;
	padding: 20px;
}

.main__clues {
	font-size: 18px;
	color: rgb(49, 255, 224);
}
.main__attempts {
	font-size: 22px;
	margin-top: 40px;
	border: solid 1px whitesmoke;
	padding: 10px;
}

.form__button {
	color: white;
	background-color: rgb(35, 138, 138);
	border: none;
	border-radius: 10px;
	padding: 18px;
	width: 120px;
	cursor: pointer;
	margin-top: 50px;
	font-size: 20px;
}

.hidden {
	display: none;
}
